.custom-border-gray {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 255, 255, 0.1);
  }
  .custom-border-purple-nobottom {
    border-style: solid;
    border-width: 1px 1px 0 1px;
    border-color: rgb(156, 147, 194, 0.3);
    border-radius: "10px";
  }
  .custom-border-purple {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: rgb(156, 147, 194, 0.3);
    border-radius: "10px";
  }
  .custom-gradient-block-bg {
    background: linear-gradient(
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .custom-gradient-block-bg2 {
    background: radial-gradient(
      ellipse at center,
      rgba(var(--rgb), 0.15),
      var(--transparent)
    );
  }